// /* ==========================================================================
// 	Grid
// ========================================================================== */
@import "bourbon/bourbon";
@import "neat/neat";

$gutter-in-percent:  2.35765%;

@mixin flip-column-support() {
	.grid-unit.col-flip {
		float: right;
		// Enforce no right margin on right aligned grid units
		margin-right: 0 !important;
		margin-left: $gutter-in-percent;
	}
}

// Containers
// -------------------------------------------------------------------------- //
.container {
    @include outer-container;
    max-width: 1140;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* NOTE: box-sizing + padding on .container was affecting grid math, so a nested
   div was needed to pull content off the container wall. */
.padded-container {
	padding: 3.3333%;
}

.site-header + .site-main + .padded-container {
	padding-top: 4.5%;
}

// Global Grid Settings
// -------------------------------------------------------------------------- //
.grid-row {
	@include row();
}

.grid-padded-row {
	@extend .grid-row;
	margin: 0 0 1.5em;
}
.grid-unit {
	position: relative;
}

// 2 Column Grid
// -------------------------------------------------------------------------- //
.col-2 {
	@include media($breakpoint-800) {
		.grid-unit {
			@include span-columns(6);
		}

		@include flip-column-support();
	}
}

// 3 Column Grid
// -------------------------------------------------------------------------- //
.col-3 {
	@include media($breakpoint-800) {
		.grid-unit {
			@include span-columns(4);
		}

		.grid-unit.col-2 {
			@include span-columns(8);
		}

		@include flip-column-support();
	}
}

// 4 Column Grid
// -------------------------------------------------------------------------- //
.col-4 {
	@include media($breakpoint-320) {
		.grid-unit {
			@include span-columns(6);

			&:nth-of-type(even) { margin-right: 0; }
			&:nth-of-type(odd)	{ clear:left; }
			&:last-of-type		{ margin-right: 0; }
		}

		.grid-unit.col-2 {
			@include span-columns(12);

			& + .grid-unit {
				margin-right: $gutter-in-percent;
				clear: left;

				& + .grid-unit {
					clear: none;
				}
			}
		}
		.grid-unit.col-4 {
			@include span-columns(12);

			& + .grid-unit {
				margin-right: $gutter-in-percent;
				clear: left;
			}
		}
	}

	@include media($breakpoint-800) {
		.grid-unit {
			@include span-columns(3);

			&:nth-of-type(even)	{ margin-right: $gutter-in-percent; }
			&:nth-of-type(odd)	{ clear:none; }
			&:nth-of-type(4n)		{ margin-right: 0; }
		}

		.grid-unit.col-2 {
			@include span-columns(6);

			& + .grid-unit {
				margin-right: $gutter-in-percent;
				clear: none;

			}
		}

		.grid-unit + .grid-unit.col-2 + .grid-unit {
			margin-right: 0;
		}

		@include flip-column-support();
	}
}

// 6 Column Grid
// -------------------------------------------------------------------------- //
.col-6 {
	@include media($breakpoint-320) {
		.grid-unit {
			@include span-columns(6);

			&:nth-of-type(even) { margin-right: 0; }
			&:nth-of-type(odd)	{ clear: left; }
		}
	}

	@include media($breakpoint-800) {
		.grid-unit {
			@include span-columns(4);

			&:nth-of-type(even)	{ margin-right: $gutter-in-percent; }
			&:nth-of-type(odd)	{ clear: none; }
			&:nth-of-type(3n)	{ margin-right: 0; }
			&:nth-of-type(4n)	{ clear: left; }
		}
	}

	@include media($breakpoint-1000) {
		.grid-unit {
			@include span-columns(2);

			&:nth-of-type(3n)	{ margin-right:  $gutter-in-percent; }
			&:nth-of-type(4n)	{ clear: none; }
			&:last-of-type		{ margin-right: 0; }
		}
	}
}

/* ==========================================================================
	Show-Grid helper class
	TODO: Can be removed from production
========================================================================== */
.show-grid {
	.grid-row {
		background-color: $beige;
		background-color: $shadow-light;
	}

	.grid-unit {
		color: $white;
		padding: 0 0 !important;  // Helper class specificity override
		margin-bottom: .25em !important; // Helper class specificity override.
		margin-top: .25em;
		min-height: 1em !important; // Helper class specificity override.
		background-color: $purple !important // Helper class specificity override
	}

	.grid-unit.col-flip {
		background-color: $red !important; // Helper class specificity override
	}

	div[class*="grid-"] {
		border-radius: 5px;
		margin-bottom: .5em;
		padding: .5em 0;
		min-height: 1.5em;
		display: block
	}
}


// ==========================================================================
//	IE8 Support
//	I'm so sorry
//========================================================================== */

.lt-ie9 {
	body {
		min-width: 800px;
	}

	.col-2 .grid-unit,
	.col-3 .grid-unit,
	.col-4 .grid-unit,
	.col-6 .grid-unit {
		margin-right: 1.5%;
	}
}
